/*This is where the styling files for the App component are located. The styling is scoped so that you can customize each component seperately.*/
p {
  font-family: fantasy;
}

.todoContainer {
  text-align: center;
}

.bearImage {
    width: 195px;
    display: inline-block;
    height: 142px;
    float: left;
    padding-top: 51px;
    margin-left: 23%;
}

.boilerPlate h2 {
    display: inline-block;
    font-size: 64px;
    margin-left: -30%;
    margin-bottom: -12px;
  }

.boilerPlate h4 {
  margin-right: 31%;
}

