@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-color: #f5f5f5;
}

.taskContainer {
  height: 400px;
  text-align: center;
  border: 1px solid black;
}

.taskDisplayHeader {
  text-align: center;
  border: 1px solid;
  margin-top: 50px;
}

.taskContainerFooter {
  text-align: center;
  border: 1px solid black;
}

.currentTaskDisplay {
  border: 1px solid;
  margin-top: 50px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-default {
    background-color: #4990e2;
    border: none;
}

.navbar-default .navbar-nav>.disabled>a, .navbar-default .navbar-nav>.disabled>a:focus, .navbar-default .navbar-nav>.disabled>a:hover {
    padding-top: 12px;
    font-family: 'Roboto Mono';
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.homepage-header {
    position: relative;
    height: 225px;
    background-color: #4990e2;
}

.homepage-header h3 {
    height: 19px;
    font-family: 'Roboto Mono';
    margin-top: 150px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.homepage-header h3>span {
    font-weight: bold;
}

.homeButtons .button-description {
  margin-top: 60px;
  width: 100%;
  height: 216px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 25px;
}

.homeButtons .button-description h4 {
  font-family: 'Roboto Mono';
  color: #404040;
}

.homeButtons .button-description ul {
  padding-left: 22px;
}

.homeButtons .button-description li {
  padding-top: 10px;
}

.homeButtons .selector {
  width: 100%;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  font-family: 'Roboto Mono';
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  padding: 13px;
}

.homeButtons .selector {
  position: relative;
  width: 100%;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  font-family: 'Roboto Mono';
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  padding: 13px;
  z-index: 1;
}

.homeButtons .selector.guided {
  background-color: #2ca01c;
}

.homeButtons .selector.advanced {
  background-color: #f6a623;
}

.homeButtons .button-shadow {
  width: 100%;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 45px;
  z-index: 0;
  position: absolute;
  width: 262px;
  bottom: -3px;
}

.homeButtons .button-shadow.final-page {
  width: 360px;
}

.homeButtons .button-shadow-guided {
  background-color: #248117;
}

.homeButtons .button-shadow-advanced {
  background-color: #cd8c21;
}

.guidedHeader {
  width: 100%;
  border-bottom: 2px solid #d8d8d8;
}

.guidedHeader h4 {
  font-family: 'Roboto Mono';
  font-size: 24px;
  color: #404040;
  margin: 70px 0px 20px 0px;
}

.guidedButtons {
  margin: 20px 0px 40px 0px;
}

.guidedButton {
  height: 216px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.guidedButton .title, .guidedButton .logo {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.guidedButton .logo {
  bottom: 60px;
}

.guidedButton .logo img {
  display: block;
  margin: auto;
  max-height: 120px;
}

.guidedButton .title p {
  font-family: 'Roboto Mono';
  font-size: 14px;
  text-align: center;
  color: #babec5;
  margin: 18px 0px 18px 0px;
}

.navButtons .navButton-wrap {
  position: relative;
}

.navButtons .navButton {
  position: absolute;
  margin: 0px 15px 0px 15px;
}

.navButtons .navButton.prev {
  left: 0;
}

.navButtons .prevButton {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Roboto Mono';
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background-color: #d8d8d8;
}

.navButtons .navButton.next {
  right: 0;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Roboto Mono';
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background-color: #4990e2;
}

.optionsView .row {
  margin-bottom: 20px;
}

.summary-image-wrap {
  min-width: 105px;
  min-height: 160px;
  background-color: #ffffff;
  position: relative;
  border-radius: 10px;
}

.summary-image-wrap img {
  position:absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin:auto;
  max-height: 110px;
  max-width: 110px;
}

.summary-row {
  width: 100%;
  padding: 40px 0px 40px 0px;
  border-bottom: solid 2px #e7e7e7;
  margin: 0;
}

.summary-row h4 {
  font-family: 'Roboto Mono';
  font-size: 24px;
  color: #404040;
}

.summary-row ul {
  padding-left: 18px;
}

.summary-row ul li {
  color: #404040;
  font-family: Arial, Helvetica, sans-serif;
}

.fa {
  font-size: 28px;
  float: right;
  cursor: pointer;
}

.summary-modify-wrap {
  margin-top: 30px;
  margin-right: 20px;
}

.summary-modify-wrap .row {
  padding: 10px;
}

.summary-download-btn,
.summary-download-btn:hover,
.final-nav-btn,
.final-nav-btn:hover {
  margin-top: 40px;
  font-family: 'Roboto Mono';
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #4990e2;
  float: right;
}

.fa-times {
  font-size: 14px;
  padding: 3px 0 0 10px;
}
