@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  background-color: #f5f5f5;
}

.container-wrapper {
  padding-bottom: 50px;
}

.navbar {
  padding-top: 10px;
}

.navbar a.navbar-brand {
  color: #fff;
  padding: 10px 15px;
}

.navbar a.navbar-brand:hover, .navbar a.navbar-brand:active, .navbar a.navbar-brand:focus {
  color: #f5f5f5;
}

.navbar .nav>li>a, .navbar .navbar-text {
  color: #fff;
}

.navbar .nav>li>a {
  border-radius: 4px;
  background-color: #fff;
  padding: 12px;
  color: black;
}

.navbar-text {
  margin: 13px 15px;
  /*padding-right: 15px;*/
}

.navbar .nav>li>a:hover, .navbar .nav>li>a:active, .navbar .nav>li>a:focus {
  background-color: #f5f5f5;
}

.guidedHomeButton {
  width: 220px;
  height: 40px;
  border-radius: 10px;
  background-color: #2ca01c;
}

.advancedHomeButton {
  width: 220px;
  height: 40px;
  border-radius: 10px;
  background-color: #f6a623;
}

.card-description {
  width: 220px;
  height: 216px;
  border-radius: 10px;
  background-color: #ffffff;
}

.desc-list {
  padding: 5px 15px 5px 10px;
  font-size: 16px;
}

.intro {
  text-align:center;
  margin-bottom: 70px;
  font-weight: 26px;
}

.home-footer {
  text-align:center;
  margin-top: 100px;
  font-weight: 26px;
}

.viewProject {
  margin-top: 40px;
  font-family: 'Roboto Mono';
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #4990e2;
}

.cart {
  /*width: 240px;
  height: 245px;*/
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 70px;
}

.cart .row {
  margin-top:20px;
}

.cartButton, .cartButton.active {
    width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-family: 'Roboto Mono';
    font-weight: bold;
    padding: 15px;
    margin-bottom: -5px;
    background-color: #2ca01c;
    color: #fff;
}
.cartButton:hover, .cartButton:active, .cartButton:active:hover, .cartButton:focus {
  background-color: #248217;
  color: #fff;
}

.cartButton.disabled {
  background-color: #666;
  cursor: not-allowed;
}

.taskDisplay {
  /*background-color: #ffffff;*/
  border-radius: 10px;
  padding: 0;
  font-family: 'Roboto Mono';
  margin-top: 100px;
}

.taskDisplay .panel {
  margin-bottom: 0;
}
  .taskDisplay .panel-body .btn {
    margin: 15px 0;
    background-color: #4990e2;
    border-color: #4990e2;
  }
    .taskDisplay .panel-body .btn:hover, .taskDisplay .panel-body .btn:active, .taskDisplay .panel-body .btn:active:hover, .taskDisplay .panel-body .btn.active:hover, .taskDisplay .panel-body .btn.active, .taskDisplay .panel-body .btn:focus {
        background-color: #4284d0;
        border-color: #4284d0;
    }

.taskDisplay button {
  border: none;
}

.taskDisplay .line {
  width: 100%;
}

.taskDisplay .cartButton {
    width: 100%;
    padding: 15px;
    margin-top: -1%;
    background-color: #2ca01c;
    margin-left: 0%;
}

.taskDisplay .cartButton {
    background-color: #2ca01c;
    border-color: #2ca01c;
  }
    .taskDisplay .cartButton:hover, .taskDisplay .cartButton:active, .taskDisplay .cartButton:active:hover, .taskDisplay .cartButton.active:hover, .taskDisplay .cartButton.active, .taskDisplay .cartButton:focus {
        background-color: #248217;
        border-color: #248217;
        color: #fff;
    }

.loading {
  text-align: center;
}

.taskDisplay .fa{
  margin-right: 18px;
  font-size: 23px;
}

.taskContainer {
  height: 400px;
  text-align: center;
}

.taskDisplayHeader {
  text-align: center;
}
  .taskDisplayHeader h3 {
    margin-top: 0;
  }

.taskContainer button.btn {
  /*font-size: 24px;*/
  background-color: #4990e2;
  border-color: #4990e2;
  margin-top: 30px;
  float: right;
}
  .taskContainer button:hover, .taskContainer button:active, .taskContainer button:active:hover, .taskContainer button.active:hover, .taskContainer button.active, .taskContainer button:focus {
      background-color: #4284d0;
      border-color: #4284d0;
  }

.taskContainerFooter {
  text-align: center;
}

.currentTaskDisplay {
  margin-top: 50px;
  /*border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  min-height: 200px;
  font-family: 'Roboto Mono';
  padding: 10px*/
}

.currentTaskDisplay label {
    /*margin-left: 1%;
    margin-top: 1%;*/
}

.currentTaskDisplay .form-group {
      /*background: #4990e2;*/
}

.btn-toolbar .btn {
  margin-bottom: 5px;
}

.panel-default>.panel-heading {
  border-color: #4990e2;
  background-color: #4990e2;
  color: #fff;
}
.cfButtons {
  font-family: 'Roboto Mono';
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-default {
    background-color: #4990e2;
    border: none;
}

.navbar-nav>li {
  margin-left: 15px;
}

.navbar-default .navbar-nav>.disabled>a, .navbar-default .navbar-nav>.disabled>a:focus, .navbar-default .navbar-nav>.disabled>a:hover {
    padding-top: 12px;
    font-family: 'Roboto Mono';
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.homepage-header {
    position: relative;
    height: 225px;
    background-color: #4990e2;
}

.homepage-header h3 {
    height: 19px;
    font-family: 'Roboto Mono';
    margin-top: 150px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.homepage-header h3>span {
    font-weight: bold;
}

.homeButtons {
  padding-top: 30px;
}

.homeButtons .button-description {
    width: 100%;
    /*height: 216px;*/
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 15px 50px;
    height: 100%;
    position: relative;
}

.homeButtons .button-description h3 {
  font-family: 'Roboto Mono';
  color: #404040;
  text-align: center;
  margin-top: 5px;
}

.homeButtons .button-description ul {
  padding-left: 22px;
}

.homeButtons .button-description li {
  padding-top: 10px;
}

.homeButtons .selector {
  width: 100%;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  font-family: 'Roboto Mono';
  /*font-size: 14px;*/
  font-weight: bold;
  color: #ffffff;
  padding: 13px;
  margin-top: 15px;
  margin-bottom: -5px;
  bottom: 0;
}

.homeButtons .selector {
  position: absolute;
  width: 100%;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  font-family: 'Roboto Mono';
  /*font-size: 12px;*/
  font-weight: bold;
  color: #ffffff;
  padding: 15px;
  z-index: 1;
}


.homeButtons .selector.guided, .homeButtons .selector.guided.active {
  background-color: #2ca01c;
  box-shadow: inset 0 0  0 rgba(0,0,0,0);
}
  .homeButtons .selector.guided:hover, .homeButtons .selector.guided:active, .homeButtons .selector.guided.active:hover, .homeButtons .selector.guided:focus {
    background-color: #248217;
    color: #fff;
    box-shadow: inset 0 0  0 rgba(0,0,0,0);
  }

.homeButtons .selector.advanced, .homeButtons .selector.advanced.active {
  background-color: #f6a623;
  box-shadow: inset 0 0  0 rgba(0,0,0,0);
}
  .homeButtons .selector.advanced:hover, .homeButtons .selector.advanced:active, .homeButtons .selector.advanced.active:hover, .homeButtons .selector.advanced:focus {
    background-color: #de9620;
    color: #fff;
    box-shadow: inset 0 0  0 rgba(0,0,0,0);
  }

.homeButtons .button-shadow {
  width: 100%;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 45px;
  z-index: 0;
  position: absolute;
  width: 262px;
  bottom: -3px;
}

.homeButtons .button-shadow.final-page {
  width: 360px;
}

.homeButtons .button-shadow-guided {
  background-color: #248117;
}

.homeButtons .button-shadow-advanced {
  background-color: #cd8c21;
}

.guidedHeader {
  width: 100%;
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 30px;
}

.guidedHeader h4 {
  font-family: 'Roboto Mono';
  font-size: 24px;
  color: #404040;
  margin: 70px 0px 20px 0px;
}

.advanced-container {
  margin-bottom: 30px;
}

.advancedHeader {
  margin-left: 3%;
}

.advancedHeader h4 {
  font-family: 'Roboto Mono';
  font-size: 16px;
  color: #404040;
  margin: 10px 0px 10px 0px;
}

.guidedButtons {
  margin: 20px 0px 40px 0px;
}

.guidedButton {
  height: 216px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
}

.guidedButton .title, .guidedButton .logo {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.guidedButton .logo {
  bottom: 60px;
  padding: 5px 15px;
}

.guidedButton .logo img {
  display: block;
  margin: auto;
  max-height: 120px;
  width: auto;
  max-width: 100%;
}

.guidedButton .title p {
  font-family: 'Roboto Mono';
  font-size: 14px;
  text-align: center;
  color: #babec5;
  margin: 18px 0px 18px 0px;
}

.cartHeader {
  /*height: 50px;*/
}

.cartHeader h4 {
  /*width: 58px;
  height: 32px*/;
  font-family: 'Roboto Mono';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #404040;
  margin-top: 20px;
  margin-bottom: 15px;
}

.cart .disabled {
  color: #babec5;
}

.cart span {
  font-family: 'Roboto Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #404040;
  text-align: right;
}
.choiceWord {
  float: right;
}

.line {
  width: 100%;
  height: 2px;
  border: solid 1px #d8d8d8;
  margin: 5px 0 15px;
}

.line-low {
  width: 100%;
  height: 1px;
  border: solid 1px #f3f3f3;
  margin: 5px 0 15px;
}

.navButtons  {
  margin-top: 30px;
}

.navButtons .navButton-wrap {
  position: relative;
}

.navButtons .navButton {
  position: absolute;
  margin: 0px 15px 0px 15px;
}

.navButtons .navButton.prev {
  left: 0;
}

.navButtons .prevButton {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Roboto Mono';
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background-color: #d8d8d8;
}

.navButtons .navButton.next {
  right: 0;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Roboto Mono';
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background-color: #4990e2;
}

.nav-button {
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
  border-style: solid;
  font-size: 16px;
  font-family: 'Roboto Mono';
  border-radius: 5px;
}
  .nav-button:hover, .nav-button:active, .nav-button:active:hover, .nav-button.active:hover, .nav-button.active, .nav-button:focus {
    color: #ffffff;
    box-shadow: inset 0 0  0 rgba(0,0,0,0);
  }

.home-btn, .home-btn.active {
  width: auto;
  background-color: #444;
  border-color: #444;
  font-size: 18px;
  margin-top: 5px;
  color: #fff;
}
  .home-btn i {
    float: left;
    margin-right: 10px;
  }
  .home-btn:hover, .home-btn:active, .home-btn:focus, .home-btn:active:hover, .home-btn.active:hover, .home-btn.active:focus {
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    color: #fff;
  }

.navButton1, .navButton1.active {
  color: #ffffff;
  background-color: #d8d8d8;
  border-color: #d8d8d8;
  float: left;
}
  .navButton1:hover, .navButton1:active, .navButton1:active:hover, .navButton1.active:hover, .navButton1:focus {
    background-color: #cdcdcd;
    border-color: #cdcdcd;
  }

.navButton2, .navButton2.active {
  color: #ffffff;
  background-color: #4990e2;
  border-color: #4990e2;
  float: right;
}
  .navButton2:hover, .navButton2:active, .navButton2:active:hover,  .navButton2.active:hover, .navButton2.active, .navButton2:focus {
    background-color: #4284d0;
    border-color: #4284d0;
  }

.navButton3, .navButton3.active {
  color: #ffffff;
  background-color: #4990e2;
  float: left;
}
  .navButton3:hover, .navButton3:active, .navButton3:active:hover,  .navButton3.active:hover, .navButton3.active, .navButton3:focus {
    background-color: #4284d0;
    border-color: #4284d0;
  }

.bottom-row {
  margin-top:60px;
}

.flexbox-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*overflow: hidden;*/
  -webkit-align-items: stretch;
  align-items: stretch;
}

.flexbox-container > [class*='col-'] {
  flex: 1;
  align-items: strech;
}

.final-nav-btn, .final-nav-btn.active {
  color: #ffffff;
  background-color: #d8d8d8;
  border-color: #d8d8d8;
}
  .final-nav-btn:hover, .final-nav-btn:active, .final-nav-btn:active:hover,  .final-nav-btn.active:hover, .final-nav-btn.active, .final-nav-btn:focus {
    background-color: #cdcdcd;
    border-color: #cdcdcd;
  }

.optionsView .row {
  margin-bottom: 20px;
}

.spacer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.spacer .guidedHeader h4 {
  margin-top: 30px;
}

.summary-image-wrap {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 10px;
}

.summary-image-wrap img {
  max-width: 100%;
  width: auto;
  margin: auto;
  display: block;
}

.summary-row {
  width: 100%;
  padding: 20px 0px 20px 0px;
  border-bottom: solid 2px #e7e7e7;
  /*margin: 0;*/
}

.summary-row h4 {
  font-family: 'Roboto Mono';
  font-size: 24px;
  color: #404040;
}

.summary-row ul {
  padding-left: 18px;
}

.summary-row ul li {
  color: #404040;
  font-family: Arial, Helvetica, sans-serif;
}

.fa {
  font-size: 28px;
  float: right;
  cursor: pointer;
}

.summary-modify-wrap {
  margin-top: 30px;
  margin-right: 20px;
}

.summary-modify-wrap .row {
  padding: 10px;
}

/*.summary-download-btn,
.summary-download-btn:hover,
.final-nav-btn,
.final-nav-btn:hover {
  margin-top: 40px;
  font-family: 'Roboto Mono';
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #4990e2;
  float: right;
}
.summary-download-btn,
.summary-download-btn:hover,
.final-nav-btn2,
.final-nav-btn2:hover {
  margin-top: 40px;
  font-family: 'Roboto Mono';
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #4990e2;
  float: left;
}*/

.fa-times {
  font-size: 14px;
  padding: 3px 0 0 10px;
}

.directory-viewer, .directory-viewer col{
  height: 100%;
}

.directory-viewer .file-directory-wrap {
  border-right: 1px solid grey;
  background: #fff;
  padding: 30px 10px;
}

.directory-viewer ul {
  list-style: none;
}

.directory-viewer ul li {
  padding-top: 6px;
}

.fa-folder, .fa-file-text {
  font-size: 16px;
  float: left;
}

.DraftEditor-editorContainer {
  background-color: #333;
  color: #eee;
  padding: 15px;
  margin-bottom: 15px;
}

.directory-viewer pre {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.account-card {
  width: 100%;
  background: white;
  border-radius: 8px;
  height: 150px;
  margin-top: 20px;
  border: solid 2px #F2F2F2;
  padding: 30px;
  font-family: 'Roboto Mono';
}

.account-card h4 {
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.account-card .fa-buttons {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-card .fa {
  float: left;
  padding: 0px 15px;
}

.account-card .fa-trash {
  padding-bottom: 4px;
}

.editor-wrap .save-btn {
  position: absolute;
  top: 10px;
  left: -110px;
  background: #2ca01c;
  border-color: #2ca01c;
  color: white;
  font-family: 'roboto mono';
  width: 100px;
  padding: 10px;
}

.editor-wrap .save-btn:hover {
  background-color: #248217;
}

.file-editor-wrap {
  padding: 0;
}

.file-directory-wrap {
  font-family: 'roboto mono';
  cursor: default;
  background: #f5f5f5;
}

.file-directory-wrap .fa-folder {
  font-size: 20px;
  padding: 0px 6px 0px 1px;
}

.file-directory-wrap .fa-file-text {
  font-size: 13px;
  padding: 3px 5px 0px 0px;
}

.directory-viewer pre, .DraftEditor-editorContainer, .directory-viewer.row {
  background-color: #333
}

.directory-viewer .nav.nav-tabs {
  background: #3D3D3D;
  font-family: 'roboto mono';
}

.directory-viewer .nav-tabs>li>a {
  color: #F0F0F0;
}

.directory-viewer .nav-tabs>li.active a{
  color: #333;
<<<<<<< HEAD
  background: #f5f5f5;
=======
>>>>>>> cb10da33484c19212cace8dfc18e7570486389bb
}

.directory-viewer .nav-tabs>li>a:hover {
  color: black;
}
